# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\XXZL\AutoTest\MyRuoYi-Try\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
